<div id="region-list" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Area Manager</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Regions</span>
            </div>
            <div class="h2 mt-16">Regions</div>
        </div>

        <a mat-raised-button class="reference-button mt-16 mt-sm-0"
           href="javascript:;" (click)="updateRegion()">
            <mat-icon class="mr-8">add</mat-icon>
            <span>Add Region</span>
        </a>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <ngx-datatable
            class="material"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [limit]="10">


            <ngx-datatable-column name="Region Name" prop="regionName"></ngx-datatable-column>

            <ngx-datatable-column name="State" prop="state.stateName"></ngx-datatable-column>

            <ngx-datatable-column name="Action">
                <ng-template   let-row="row" ngx-datatable-cell-template>
                    <button (click)="updateRegion(row)" mat-icon-button><i class="material-icons">edit</i></button>
                    <button (click)="deleteRegion(row)" mat-icon-button><i class="material-icons">delete</i></button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

    </div>

</div>

