
<div class="m-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
  <div class="" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" >
    <!--
  <ngx-datatable
  class="material row"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [headerHeight]="48"
  [footerHeight]="56"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
  [limit]="10">


  <ngx-datatable-column name="Full Name">
    <ng-template   let-row="row" ngx-datatable-cell-template>
      <i *ngIf="row.isActive" class="material icons text-success mat-subheading-2">mood</i> 
      <i *ngIf="!row.isActive" class="material icons text-danger mat-subheading-2">mood_bad</i> 
      {{ row.firstName + " " + row.lastName}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>

  <ngx-datatable-column name="Mobile No." prop="mobileNumber"></ngx-datatable-column>


  <ngx-datatable-column name="Action">
      <ng-template   let-row="row" ngx-datatable-cell-template>
          <button [routerLink]="['/admin/profile/'+ row.id]" mat-icon-button><i class="material-icons">visibility</i></button>
          <button (click)="deleteUser(row)" mat-icon-button><i class="material-icons">delete</i></button>
      </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
-->
  </div>
</div>  