<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge" src="{{ (currentUser?.profilePic)?_auth.imageUrl + currentUser?.profilePic:'assets/images/avatars/profile.jpg' }}"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{ currentUser?.firstName + " " +  ((currentUser?.lastName)?currentUser?.lastName:"") }}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button [routerLink]="['/admin/profile/edit/'+currentUserId]" mat-raised-button color="primary" aria-label="Send Message"><i class="material-icons text-white">edit</i> Edit Profile</button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="About">
                <profile-about [user]="currentUser"></profile-about>
            </mat-tab>

            <mat-tab label="Work Area" *ngIf="!currentUser?.isAdmin">
                <app-work-area [user]="currentUser"></app-work-area>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
