<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50">

        <div class="profile-box info-box general" fxLayout="column" *ngIf="!user?.isAdmin">

            <header class="accent">
                <div class="title">Personal Information</div>
            </header>

            <div class="content">

                <div class="info-line">
                    <div class="title">Birthday</div>
                    <div class="info">{{ (user?.dateOfBirth)?user?.dateOfBirth:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">Fathers Name</div>
                    <div class="info">{{ (user?.fatherName)?user?.fatherName:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">Lalitha Name</div>
                    <div class="info">{{ (user?.motherName)?user?.motherName:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">Adhar number</div>
                    <div class="info">{{ (user?.adharNumber)?user?.adharNumber:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">PAN number</div>
                    <div class="info">{{ (user?.panNumber)?user?.panNumber:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">Driving Licence</div>
                    <div class="info">{{ (user?.drivingLicence)?user?.drivingLicence:"NA" }}</div>
                </div>
            </div>

        </div>

        <div class="profile-box info-box work" fxLayout="column" *ngIf="!user?.isAdmin">

            <header class="accent">
                <div class="title">Work Information</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title">Designation</div>
                    <div class="info">{{ (user?.designation?.designationTitle)?user?.designation?.designationTitle:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">Join Date</div>
                    <div class="info">{{ (user?.dateOfJoin)?user?.dateOfJoin:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">Current Salary</div>
                    <div class="info">{{ (user?.currentSalary)?user?.currentSalary:"NA" }}</div>
                </div>
            </div>
        </div>

        <div class="profile-box info-box contact" fxLayout="column">

            <header class="accent">
                <div class="title">Contact Information</div>
            </header>

            <div class="content">

                <div class="info-line" *ngIf="!user?.isAdmin">
                    <div class="title">Current Address</div>
                    <div class="info">{{ (user?.currentAddress)?user?.currentAddress:"NA" }}</div>
                </div>

                <div class="info-line" *ngIf="!user?.isAdmin">
                    <div class="title">Permanent Address</div>
                    <div class="info">{{ (user?.permanentAddress)?user?.permanentAddress:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">Email Address</div>
                    <div class="info">{{ (user?.email)?user?.email:"NA" }}</div>
                </div>

                <div class="info-line">
                    <div class="title">Mobile Number</div>
                    <div class="info">{{ (user?.mobileNumber)?user?.mobileNumber:"NA" }}</div>
                </div>
            </div>

        </div>

    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="50"  *ngIf="!user?.isAdmin">
        <div class="profile-box info-box contact" fxLayout="column">

            <header class="accent">
                <div class="title">Work Block Information</div>
            </header>

            <div class="content">

                <div class="info-line" *ngIf="workFieldHash.indexOf('a') > -1">
                    <div class="title">Country</div>
                    <div class="info">{{ (user?.currentAddress)?user?.currentAddress:"NA" }}</div>
                </div>

                <div class="info-line" *ngIf="workFieldHash.indexOf('ab') > -1">
                    <div class="title">State</div>
                    <div class="info">{{ (user?.permanentAddress)?user?.permanentAddress:"NA" }}</div>
                </div>

                <div class="info-line" *ngIf="workFieldHash.indexOf('abc') > -1">
                    <div class="title">Region</div>
                    <div class="info">{{ (user?.email)?user?.email:"NA" }}</div>
                </div>

                <div class="info-line" *ngIf="workFieldHash.indexOf('abcd') > -1">
                    <div class="title">City</div>
                    <div class="info">{{ (user?.mobileNumber)?user?.mobileNumber:"NA" }}</div>
                </div>

                <div class="info-line" *ngIf="workFieldHash.indexOf('abcde') > -1">
                    <div class="title">Block</div>
                    <div class="info">{{ (user?.mobileNumber)?user?.mobileNumber:"NA" }}</div>
                </div>
            </div>

        </div>

    </div>

</div>
