// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.error-snack-bar {
    background-color: rgba(226, 17, 17, 0.89) !important;
    color: #fff;
}

.success-snack-bar {
    background-color: rgb(6, 70, 6) !important;
    color: #fff;
}

.text-success {
    color: rgb(6, 70, 6) !important;
}

.text-danger {
    color: rgba(226, 17, 17, 0.89) !important;
}

.text-white {
    color: #fff !important;
}